*{
    font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}
body{
    background-color:rgb(174, 125, 219);
}
main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(46, 45, 45);
}

h1 {
    font-size:2em;
    color: blueviolet;
}

h2 {
    font-size:1.5em;
color: blueviolet;
}

img 

a {
    tet-decoration:none;
    font-weight: bold;
    color: blueviolet;
}

a:hover {
    text-decoration: underline;
    color: blueviolet;

}